.footer-wrapper{
    position: relative;
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    margin-top: 250px;
    min-height: 50px;
}
.footer-wrapper a:first-child{
    margin-left: 10%;
    cursor: pointer;
    position: absolute;
}
.footer-wrapper a img{
    height: 50px;
}

.media-wrapper{
    position: absolute;
    display: flex; 
    flex-direction: row;
    width: 100%;
    align-items: right;
    right: 0;
    justify-content: flex-end;
    margin-right: 10%;


}
.media-wrapper div{
    width: 30px;
    /* height: 40px; */
    /* margin: 20px; */
    align-items: right;
    float: right;
    margin: 10px;
    background-color: aliceblue;
}

@media only screen and (max-width: 650px) {
    .footer-wrapper{
        margin-top: 50px;

    }
}
